
@import "variables";

html {
  height: 100%;
}

body {
  background: #E2E4E7;
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;

  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main section .page_container {
  display: table;
  width: 100%;
  position: relative;
  top: 50%;
  margin: 0 auto 0;
  z-index: 3;
}

.main section  {
  overflow: hidden;
  padding: 0px 80px 20px 80px;
}


/* intro */

#intro {
  visibility:hidden;
  // @include cover('/images/beyond1.jpg');
}

.intro {

  vertical-align: middle;

  visibility:hidden;
  max-width : 600px;
  margin: 0 auto;

  a, a:hover{
    color:#000;
    @include link-hover-state(#222);
  }
}

/*  about */

#about {
  visibility:hidden;
  // @include cover('/images/image.jpg');
}

.about {
  visibility:hidden;
  width : 600px;
  margin: 0 auto;

  h2 {
    display: table-cell;
    vertical-align: middle;
  }

  a, a:hover{
    color:#000;
    @include link-hover-state(#000);
  }
}

/* lab */

#lab {
  visibility:hidden;
  @include cover('/images/tum95-1.jpg');
}

.lab {
  visibility:hidden;
  width : 680px;
  margin: 0 auto;

  a, a:hover{
    color:#000;
    @include link-hover-state(#000);
  }
}

/*  contact */

.contact{
  margin: 40px 0px 20px 0px;
  padding: 10px 0px 20px 0px;
}

/* media queries */

@media #{$desktop-tiny-query} {
  .intro {
    width:420px;
    margin: 0 auto;
  }

  .about {
    width:360px;
    margin: 0 auto;
  }

  .lab {
    width:360px;
    margin: 0 auto;
  }
}

@media #{$desktop-small-query} {

  .intro{
    width:620px;
    margin: 0 auto;
  }

  .about{
    width:580px;
    margin: 0 auto;
  }

  .lab{
    width:520px;
    margin: 0 auto;
  }

}

@media #{$desktop-medium-query} {
  .intro{
    width:620px;
    margin: 0 auto;
  }

  .about{
    width:580px;
    margin: 0 auto;
  }

  .lab{
    width:540px;
    margin: 0 auto;
  }
}

@media #{$desktop-large-query} {

  .intro{
    width:740px;
    margin: 0 auto;
  }

  .about{
    width:640px;
    margin: 0 auto;
  }

  .lab{
    width:680px;
    margin: 0 auto;
  }

}

@media #{$desktop-huge-query} {

  .intro{
    width:800px;
    margin: 0 auto;
  }

  .about{
    width:800px;
    margin: 0 auto;
  }

  .lab{
    width:800px;
    margin: 0 auto;
  }

}
