@import "app";
@import "home";
@import "components/top-bar";
@import "components/grid";
@import "components/footer";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
