// This code overwrites any variables set in the Foundation settings scss file
$body-font-family: "NeuzeitOfficeW01-Regula", "Helvetica", Helvetica, Arial, sans-serif;

$body-bg: #fff !default;
$body-font-color: #323B46 !default;
$heading-font-color: #0094BA !default;

$primary-color: #C6CD00 !default;
$secondary-color: #252F37 !default;
$alert-color: #c60f13 !default;
$success-color: #5da423 !default;

$global-radius: 3px !default;
